#folder
target/
classes/
.vagrant/

#fixed fileSet
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo

# IntelliJ
*.iml
*.lst
out/
.idea/
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
intellij

dependency-reduced-pom.xml
